In [1]:
import pandas as pd

In [2]:


for year in range(2000, 2020):
    if year == 2005:
        continue # 2005 was a lockout season
    
    games = pd.read_csv("data/games/nhl/" + str(year) + ".csv")
    standings = {}
    for game in zip(games["Visitor"], games["G"], games["Home"], games["G.1"]):
        (visitor, visitor_goals, home, home_goals) = game
        
        if visitor not in standings:
            standings[visitor] = { "wins": 0, "games": 0, "home_wins": 0, "home_games": 0}
            
        if home not in standings:
            standings[home] = { "wins": 0, "games": 0, "home_wins": 0, "home_games": 0}
            
        standings[visitor]["games"] += 1
        standings[home]["games"] += 1
        
        home_win = home_goals > visitor_goals
        
        standings[visitor]["wins"] += 0 if home_win else 1
        standings[loser]["wins"] += 0.5 if tie else 0
        
        loser_home = loc == "@"
        
        home = loser if loser_home else winner
        standings[home]["home_games"] += 1
        
        if tie:
            standings[home]["home_wins"] += 0.5
        else:
            standings[home]["home_wins"] += 0 if loser_home else 1
        
    df = pd.DataFrame([[key, standings[key]["games"], standings[key]["wins"], standings[key]["home_games"], standings[key]["home_wins"]] for key in standings], columns=["Team", "Games", "Wins", "Home Games", "Home Wins"])
    df.to_csv("data/nfl/" + str(year) + ".csv", index=False)

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Notes
0,2019-10-02,Vancouver Canucks,2,Edmonton Oilers,3,NaN,18347,2:23,NaN
1,2019-10-02,Washington Capitals,3,St. Louis Blues,2,OT,18096,2:32,NaN
2,2019-10-02,Ottawa Senators,3,Toronto Maple Leafs,5,NaN,19612,2:36,NaN
3,2019-10-02,San Jose Sharks,1,Vegas Golden Knights,4,NaN,18588,2:44,NaN
4,2019-10-03,Arizona Coyotes,1,Anaheim Ducks,2,NaN,17174,2:25,NaN
...,...,...,...,...,...,...,...,...,...
1077,2020-03-11,St. Louis Blues,4,Anaheim Ducks,2,NaN,16195,2:20,NaN
1078,2020-03-11,San Jose Sharks,2,Chicago Blackhawks,6,NaN,21275,2:20,NaN
1079,2020-03-11,New York Rangers,2,Colorado Avalanche,3,OT,18025,2:37,NaN
1080,2020-03-11,Winnipeg Jets,4,Edmonton Oilers,2,NaN,17165,2:15,NaN
1081,2020-03-11,Ottawa Senators,2,Los Angeles Kings,3,NaN,12030,2:22,NaN